@charset "UTF-8";
@font-face {
  font-family: "Montserrat-Regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Montserrat-Regular.ttf"); }

@font-face {
  font-family: "Montserrat-BoldItalic";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Montserrat-BoldItalic.ttf"); }

@font-face {
  font-family: "Montserrat-Light";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Montserrat-Light.ttf"); }

@font-face {
  font-family: "Montserrat-LightItalic";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Montserrat-LightItalic.ttf"); }

@font-face {
  font-family: "Montserrat-Italic";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Montserrat-Italic.ttf"); }

@font-face {
  font-family: "Montserrat-Bold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Montserrat-Bold.ttf"); }

@font-face {
  font-family: "Montserrat-Black";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Montserrat-Black.ttf"); }

@font-face {
  font-family: "Montserrat-Medium";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/Montserrat-Medium.ttf"); }

/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

menu, ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

a {
  color: #000000;
  text-decoration: none; }

html {
  height: 100%; }

body {
  height: 100%; }

.wrapper {
  height: 100%;
  width: 100%; }

.container {
  padding: 0 1rem; }
  @media screen and (min-width: 576px) {
    .container {
      width: 540px;
      padding: 0; } }
  @media screen and (min-width: 768px) {
    .container {
      width: 720px; } }
  @media screen and (min-width: 992px) {
    .container {
      width: 960px; } }
  @media screen and (min-width: 1200px) {
    .container {
      width: 1140px; } }
  @media screen and (min-width: 1400px) {
    .container {
      width: 1320px; } }

body,
a {
  font-family: "Montserrat-Regular", sans-serif, "Helvetica", sans-serif; }

body {
  font-size: 18px; }

.banner {
  background-color: #222222;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media screen and (min-width: 992px) {
    .banner {
      padding: 3rem; } }

.banner-link-top {
  background-color: #222222;
  padding: 1rem;
  display: flex; }
  @media screen and (min-width: 992px) {
    .banner-link-top {
      padding: 3rem;
      justify-content: flex-end; } }

.banner-link-bottom {
  background-color: #222222;
  padding: 1rem;
  display: flex; }
  @media screen and (min-width: 992px) {
    .banner-link-bottom {
      padding: 3rem; } }

.banner-contact {
  background-color: #222222;
  padding: 1rem; }
  @media screen and (min-width: 992px) {
    .banner-contact {
      padding: 3rem; } }

#menu {
  transition: transform .5s;
  position: absolute;
  width: 100%;
  transform: translateY(-1500px);
  background-color: #EEEEEE;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media screen and (min-width: 992px) {
    #menu {
      display: none; } }
  #menu .burger-nav-list {
    width: 70%; }
    #menu .burger-nav-list li {
      border-bottom: 2px solid #ff6c6c;
      padding: 3rem 0; }
      #menu .burger-nav-list li a {
        color: #747474;
        font-weight: 500;
        font-size: 20px; }
        #menu .burger-nav-list li a .fa {
          color: #ff6c6c;
          font-size: 1.5em;
          margin-right: 0.5rem; }
      #menu .burger-nav-list li a:hover {
        color: #ff6c6c;
        font-weight: 500; }
    #menu .burger-nav-list li:first-child {
      border-top: none;
      color: #747474;
      font-weight: 500; }
    #menu .burger-nav-list li:last-child {
      border-bottom: none;
      border-top: none; }
      #menu .burger-nav-list li:last-child a {
        color: #747474; }
        #menu .burger-nav-list li:last-child a .fa {
          color: #ff6c6c;
          font-size: 1.5em;
          margin-right: 0.5rem; }
      #menu .burger-nav-list li:last-child a:hover {
        color: #ff6c6c;
        font-weight: 500; }

#menu.show-menu {
  position: fixed;
  transform: translateY(-782px);
  font-family: "Montserrat-Regular", sans-serif;
  width: 100vw; }

.contacts {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0; }

#contacts {
  position: relative;
  top: -99px; }

.fonctionnalities {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-image: url("../images/ideas.jpg"); }
  .fonctionnalities .opacity {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    min-height: 100vh;
    display: flex;
    align-items: center; }

.footer {
  height: 40px;
  background-color: #EEEEEE;
  display: flex;
  justify-content: center;
  align-items: center; }

.header {
  height: 100px;
  width: 100%;
  background-color: #EEEEEE; }
  .header-mobile {
    height: 100px;
    width: 100%;
    margin: auto 0; }
    @media screen and (min-width: 576px) {
      .header-mobile {
        display: flex;
        justify-content: center; } }
    @media screen and (min-width: 992px) {
      .header-mobile {
        display: none; } }
    .header-mobile .container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between; }
  .header-laptop {
    display: none; }
    @media screen and (min-width: 992px) {
      .header-laptop {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%; } }
    .header-laptop .container {
      margin: 0 auto; }

.header--is-fixed {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100vw; }

.home {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.main {
  background-color: white;
  width: 100%;
  min-height: 100%; }

.presentation {
  min-height: 100vh;
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (min-width: 992px) {
    .presentation {
      padding-top: 0; } }

#presentation {
  position: relative;
  top: -45px; }

.services {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url("../images/star_opt.jpg");
  background-size: cover;
  background-position: center; }
  .services-content {
    padding: 4rem 0; }

#services {
  position: relative;
  top: -99px; }

.skills {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0; }

#skills {
  position: relative;
  top: -99px; }

.supports {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  background-color: #FAFAFA; }

.web {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url("../images/web.jpeg");
  background-size: cover; }

.banner-text {
  color: #FFFFFF;
  margin: 0.3rem 0; }
  .banner-text .bold {
    font-family: "Montserrat-Medium", sans-serif; }
  .banner-text .pink {
    color: #ff6c6c;
    font-family: "Montserrat-Medium", sans-serif; }

.banner-link-top .banner-content {
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 992px) {
    .banner-link-top .banner-content {
      width: 50%;
      border-left: 1px solid #FFFFFF; } }
  .banner-link-top .banner-content-text {
    color: #FFFFFF;
    margin: 0.5rem 0 0.5rem 3rem; }
    @media screen and (min-width: 576px) {
      .banner-link-top .banner-content-text {
        font-size: 1.3em; } }
    .banner-link-top .banner-content-text .link {
      color: #ff6c6c; }

.banner-link-bottom .banner-content {
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 992px) {
    .banner-link-bottom .banner-content {
      width: 50%;
      border-right: 1px solid #FFFFFF; } }
  .banner-link-bottom .banner-content-text {
    color: #FFFFFF;
    margin: 0.5rem 3rem 0.5rem 0;
    text-align: end; }
    @media screen and (min-width: 576px) {
      .banner-link-bottom .banner-content-text {
        font-size: 1.3em; } }
    .banner-link-bottom .banner-content-text .link {
      color: #ff6c6c; }

.banner-contact .banner-content {
  display: flex;
  flex-direction: column; }
  .banner-contact .banner-content .text {
    color: #FFFFFF;
    text-align: center;
    font-family: "Montserrat-Medium", sans-serif; }
    @media screen and (min-width: 576px) {
      .banner-contact .banner-content .text {
        font-size: 1.3em; } }
  .banner-contact .banner-content .list {
    display: flex;
    justify-content: center;
    padding-top: 1rem; }
    .banner-contact .banner-content .list .item {
      margin: 0 0.3rem; }
      .banner-contact .banner-content .list .item .link {
        color: #FFFFFF;
        font-size: 1em;
        font-family: "Montserrat-Medium", sans-serif; }
        @media screen and (min-width: 576px) {
          .banner-contact .banner-content .list .item .link {
            font-size: 1.3em; } }
        .banner-contact .banner-content .list .item .link .fa-linkedin-square {
          color: #FFFFFF;
          font-size: 1.5em; }
        .banner-contact .banner-content .list .item .link .fa-facebook-square {
          color: #ff6c6c;
          font-size: 1.5em; }
        .banner-contact .banner-content .list .item .link .fa-envelope-o {
          color: #FFFFFF;
          font-size: 1.5em; }

.wpcf7-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0; }
  @media screen and (min-width: 992px) {
    .wpcf7-form {
      flex-direction: row;
      justify-content: center;
      align-items: inherit; } }
  .wpcf7-form .left {
    width: 100%; }
    @media screen and (min-width: 992px) {
      .wpcf7-form .left {
        margin-right: 0.5rem; } }
    .wpcf7-form .left .name {
      margin: 1rem 0;
      width: 100%; }
      .wpcf7-form .left .name-input {
        width: 100%;
        height: 60px;
        background-color: #eeeeee;
        border: 0.1px #cfcfcf solid;
        border-radius: 3px;
        font-size: 1em;
        color: #747474;
        padding: 1rem;
        font-family: "Montserrat-Regular", sans-serif; }
      .wpcf7-form .left .name-input:focus {
        border: 0.1px #ff6c6c solid !important; }
      .wpcf7-form .left .name input:focus {
        outline-offset: 0px !important;
        outline: none !important; }
    .wpcf7-form .left .society {
      margin: 1rem 0;
      width: 100%; }
      .wpcf7-form .left .society-input {
        width: 100%;
        height: 60px;
        background-color: #eeeeee;
        border: 0.1px #cfcfcf solid;
        border-radius: 3px;
        font-size: 1em;
        color: #747474;
        padding: 1rem;
        font-family: "Montserrat-Regular", sans-serif; }
      .wpcf7-form .left .society-input:focus {
        border: 0.1px #ff6c6c solid !important; }
      .wpcf7-form .left .society input:focus {
        outline-offset: 0px !important;
        outline: none !important; }
    .wpcf7-form .left .email {
      margin: 1rem 0;
      width: 100%; }
      .wpcf7-form .left .email-input {
        width: 100%;
        height: 60px;
        background-color: #eeeeee;
        border: 0.1px #cfcfcf solid;
        border-radius: 3px;
        font-size: 1em;
        color: #747474;
        padding: 1rem;
        font-family: "Montserrat-Regular", sans-serif; }
      .wpcf7-form .left .email-input:focus {
        border: 0.1px #ff6c6c solid !important; }
      .wpcf7-form .left .email input:focus {
        outline-offset: 0px !important;
        outline: none !important; }
    .wpcf7-form .left .subject {
      margin: 1rem 0;
      width: 100%; }
      .wpcf7-form .left .subject-input {
        width: 100%;
        height: 60px;
        background-color: #eeeeee;
        border: 0.1px #cfcfcf solid;
        border-radius: 3px;
        font-size: 1em;
        color: #747474;
        padding: 1rem;
        font-family: "Montserrat-Regular", sans-serif; }
      .wpcf7-form .left .subject-input:focus {
        border: 0.1px #ff6c6c solid !important; }
      .wpcf7-form .left .subject input:focus {
        outline-offset: 0px !important;
        outline: none !important; }
  .wpcf7-form .right {
    width: 100%; }
    @media screen and (min-width: 992px) {
      .wpcf7-form .right {
        margin-left: 0.5rem; } }
    .wpcf7-form .right .message {
      margin-bottom: 1rem;
      width: 100%; }
      @media screen and (min-width: 992px) {
        .wpcf7-form .right .message {
          margin: 1rem 0; } }
      .wpcf7-form .right .message-input {
        min-width: 100% !important;
        max-width: 100% !important;
        height: 209px;
        background-color: #eeeeee;
        border: 0.1px #cfcfcf solid;
        border-radius: 3px;
        font-size: 1em;
        color: #747474;
        padding: 1rem;
        font-family: "Montserrat-Regular", sans-serif; }
      .wpcf7-form .right .message-input:focus {
        border: 0.1px #ff6c6c solid !important; }
      .wpcf7-form .right .message textarea:focus {
        outline-offset: 0px !important;
        outline: none !important; }
    .wpcf7-form .right .submit {
      width: 100%; }
      .wpcf7-form .right .submit-input {
        width: 100%;
        height: 60px;
        background-color: #000000;
        border: 0.1px #cfcfcf solid;
        border-radius: 3px;
        font-size: 1em;
        color: #FFFFFF;
        padding: 1rem;
        font-family: "Montserrat-Regular", sans-serif; }

.contacts-text {
  width: 100%; }
  .contacts-text .title {
    text-align: center;
    font-size: 1.5em;
    font-family: "Montserrat-Bold", sans-serif; }
    @media screen and (min-width: 768px) {
      .contacts-text .title {
        font-size: 3em; } }
  .contacts-text .text {
    margin-top: 0.5rem;
    text-align: center;
    font-size: 1.1em;
    font-family: "Montserrat-Medium", sans-serif;
    color: #747474; }
    @media screen and (min-width: 768px) {
      .contacts-text .text {
        font-size: 1.5em; } }
  .contacts-text .separator {
    background-color: #eeeeee;
    margin: 2rem auto;
    width: 100px;
    height: 2px; }
  .contacts-text .list {
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media screen and (min-width: 576px) {
      .contacts-text .list {
        flex-direction: row; } }
    .contacts-text .list .item {
      margin: 1rem 0; }
      @media screen and (min-width: 576px) {
        .contacts-text .list .item {
          margin: 1rem 2rem; } }
      .contacts-text .list .item .fa {
        margin-right: 0.5rem; }

.fonctionnalities-content {
  padding: 4rem 1rem; }
  .fonctionnalities-content-title {
    color: #FFFFFF;
    font-size: 1.5em;
    font-family: "Montserrat-Bold", sans-serif; }
    @media screen and (min-width: 768px) {
      .fonctionnalities-content-title {
        font-size: 3em; } }
  .fonctionnalities-content-text {
    color: #FFFFFF;
    font-size: 1.1em;
    font-family: "Montserrat-Medium", sans-serif;
    margin: 1rem 0; }
    @media screen and (min-width: 768px) {
      .fonctionnalities-content-text {
        font-size: 1.5em; } }
  .fonctionnalities-content .separator {
    height: 2px;
    background-color: #ff6c6c;
    width: 100px;
    margin: 2rem 0; }
  .fonctionnalities-content-text-bottom {
    color: #FFFFFF;
    max-width: 800px; }
    .fonctionnalities-content-text-bottom .pink {
      color: #ff6c6c;
      font-family: "Montserrat-Medium", sans-serif; }

.fonctionnalities-content-list {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem 0;
  justify-content: center;
  max-width: 1100px; }
  @media screen and (min-width: 576px) {
    .fonctionnalities-content-list {
      justify-content: flex-start; } }
  .fonctionnalities-content-list .fonctionnalities-content-items {
    margin: 1rem 1rem 1rem 0; }
    @media screen and (min-width: 576px) {
      .fonctionnalities-content-list .fonctionnalities-content-items {
        margin: 1rem 2rem 1rem 0; } }

.footer .content {
  color: #747474;
  font-size: 14px; }
  .footer .content .pink {
    color: #ff6c6c; }

.logo-image {
  height: 70px; }

.header-laptop-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .header-laptop-nav .header-left {
    display: flex;
    justify-content: center;
    flex: 1; }
    .header-laptop-nav .header-left .item {
      margin: 0 1.5rem; }
      .header-laptop-nav .header-left .item-link {
        color: #747474; }
      .header-laptop-nav .header-left .item-link:hover {
        color: #ff6c6c;
        transition: 0.3s; }
  .header-laptop-nav .header-center {
    display: flex; }
    .header-laptop-nav .header-center .item {
      margin: 0 1.5rem; }
  .header-laptop-nav .header-right {
    display: flex;
    justify-content: center;
    flex: 1; }
    .header-laptop-nav .header-right .item {
      margin: 0 1.5rem; }
      .header-laptop-nav .header-right .item-link {
        color: #747474; }
      .header-laptop-nav .header-right .item-link:hover {
        color: #ff6c6c;
        transition: 0.3s; }

.menu {
  display: flex;
  align-items: center;
  padding: 0 1rem; }

.menu::after {
  content: '≡';
  font-size: 70px; }

#menu-button.close {
  color: #ff6c6c; }

#menu-button.close::after {
  content: '×';
  font-size: 70px; }

.home-content-title {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  width: 100%; }
  .home-content-title-img {
    max-width: 700px;
    width: 100%;
    margin: 0 auto; }
  .home-content-title .text-content {
    display: flex;
    flex-direction: column; }
    .home-content-title .text-content .text {
      font-size: 1.2em;
      font-family: "Montserrat-Medium", sans-serif;
      color: #e9d9ad;
      text-align: center;
      margin: 1rem 0; }
      @media screen and (min-width: 576px) {
        .home-content-title .text-content .text {
          font-size: 1.5em; } }
      @media screen and (min-width: 768px) {
        .home-content-title .text-content .text {
          font-size: 2em; } }
    .home-content-title .text-content .typewrite {
      font-size: 1.2em;
      font-family: "Montserrat-Regular", sans-serif;
      color: white;
      text-align: center;
      margin: 1rem 0; }
      @media screen and (min-width: 576px) {
        .home-content-title .text-content .typewrite {
          font-size: 1.5em; } }
      @media screen and (min-width: 768px) {
        .home-content-title .text-content .typewrite {
          font-size: 2em; } }

.home-content .arrow {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem; }
  .home-content .arrow-link .fa {
    font-size: 5em; }
  .home-content .arrow-link .fa:hover {
    color: #ff6c6c; }

.presentation-items {
  width: 100%; }
  @media screen and (min-width: 992px) {
    .presentation-items {
      display: flex;
      margin-top: 3rem; } }
  .presentation-items .item {
    margin: 4rem 1rem;
    flex: 1; }
    @media screen and (min-width: 992px) {
      .presentation-items .item {
        width: 33,3%; } }
    .presentation-items .item-content .title {
      text-align: center;
      color: #747474;
      font-family: "Montserrat-Medium", sans-serif; }
      @media screen and (min-width: 576px) {
        .presentation-items .item-content .title {
          font-size: 1.5em; } }
      .presentation-items .item-content .title .pink {
        color: #ff6c6c; }
    .presentation-items .item-content .img {
      width: 100%;
      border-radius: 50%;
      margin: 1rem 0; }
      @media screen and (min-width: 992px) {
        .presentation-items .item-content .img {
          height: 320px;
          object-fit: cover; } }
    .presentation-items .item-content .text {
      text-align: center;
      font-size: 1rem;
      color: #747474;
      padding-top: 2rem; }
      .presentation-items .item-content .text .bold {
        font-family: "Montserrat-Medium", sans-serif; }

.presentation-text {
  width: 100%; }
  .presentation-text-answer {
    position: relative;
    text-align: center;
    font-size: 1.5em;
    font-family: "Montserrat-Bold", sans-serif; }
    @media screen and (min-width: 768px) {
      .presentation-text-answer {
        font-size: 3em; } }
  .presentation-text-response {
    margin-top: 0.5rem;
    text-align: center;
    font-size: 1.1em;
    font-family: "Montserrat-Medium", sans-serif;
    color: #747474; }
    @media screen and (min-width: 768px) {
      .presentation-text-response {
        font-size: 1.5em; } }
  .presentation-text .separator {
    background-color: #eeeeee;
    margin: 1rem auto;
    width: 100px;
    height: 2px; }

.services-content-items {
  padding: 1rem 0; }
  @media screen and (min-width: 992px) {
    .services-content-items {
      display: flex;
      justify-content: space-between; } }
  @media screen and (min-width: 992px) {
    .services-content-items .items-left {
      display: flex; } }
  @media screen and (min-width: 992px) {
    .services-content-items .items-right {
      display: flex; } }
  @media screen and (min-width: 992px) {
    .services-content-items .items-left,
    .services-content-items .items-right {
      max-width: 400px; } }
  @media screen and (min-width: 1200px) {
    .services-content-items .items-left,
    .services-content-items .items-right {
      max-width: 500px; } }
  .services-content-items .items-left .list .item,
  .services-content-items .items-right .list .item {
    margin: 3rem 0;
    background-color: rgba(238, 238, 238, 0.8);
    border-radius: 10px;
    padding: 0.5rem 1rem; }
    .services-content-items .items-left .list .item-content,
    .services-content-items .items-right .list .item-content {
      display: flex; }
      .services-content-items .items-left .list .item-content-logo,
      .services-content-items .items-right .list .item-content-logo {
        margin-right: 3rem; }
        .services-content-items .items-left .list .item-content-logo .icon,
        .services-content-items .items-right .list .item-content-logo .icon {
          display: inline-block;
          width: 40px;
          height: 40px;
          background-color: #ff6c6c;
          border-radius: 50%; }
          .services-content-items .items-left .list .item-content-logo .icon .bi,
          .services-content-items .items-left .list .item-content-logo .icon .fa,
          .services-content-items .items-right .list .item-content-logo .icon .bi,
          .services-content-items .items-right .list .item-content-logo .icon .fa {
            color: #FFFFFF;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%; }
      .services-content-items .items-left .list .item-content-text .item-title,
      .services-content-items .items-right .list .item-content-text .item-title {
        color: #222222;
        font-family: "Montserrat-Bold", sans-serif;
        font-size: 1.2em; }
        @media screen and (min-width: 992px) {
          .services-content-items .items-left .list .item-content-text .item-title,
          .services-content-items .items-right .list .item-content-text .item-title {
            font-size: 1.5em; } }
      .services-content-items .items-left .list .item-content-text .item-text,
      .services-content-items .items-right .list .item-content-text .item-text {
        margin: 1rem 0;
        color: #747474; }
      .services-content-items .items-left .list .item-content-text .item-content-list-item,
      .services-content-items .items-right .list .item-content-text .item-content-list-item {
        color: #747474;
        margin: 0.3rem 0; }
        .services-content-items .items-left .list .item-content-text .item-content-list-item .bi,
        .services-content-items .items-right .list .item-content-text .item-content-list-item .bi {
          color: #747474;
          font-size: 0.8em;
          margin-right: 0.5rem; }

.services-content-text .title {
  text-align: center;
  font-size: 1.5em;
  color: #FFFFFF;
  font-family: "Montserrat-Bold", sans-serif; }
  @media screen and (min-width: 768px) {
    .services-content-text .title {
      font-size: 3em; } }

.services-content-text .text {
  color: #FFFFFF;
  padding: 1rem 0;
  font-size: 1.1em;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .services-content-text .text {
      font-size: 1.5em; } }

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .skills-list-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem; }
    .skills-list-items .img {
      width: 150px;
      height: 150px; }
    .skills-list-items .text {
      padding-top: 1rem;
      font-family: "Montserrat-Medium", sans-serif; }

.skills-text {
  width: 100%; }
  .skills-text .title {
    text-align: center;
    font-size: 1.5em;
    font-family: "Montserrat-Bold", sans-serif; }
    @media screen and (min-width: 768px) {
      .skills-text .title {
        font-size: 3em; } }
  .skills-text .text {
    margin-top: 0.5rem;
    text-align: center;
    font-size: 1.1em;
    font-family: "Montserrat-Medium", sans-serif;
    color: #747474; }
    @media screen and (min-width: 768px) {
      .skills-text .text {
        font-size: 1.5em; } }
  .skills-text .separator {
    background-color: #eeeeee;
    margin: 1rem auto;
    width: 100px;
    height: 2px; }

.skills-text-writer {
  padding-top: 2rem; }
  .skills-text-writer-content {
    text-align: center;
    color: #747474; }

.supports-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem 0; }
  .supports-list-items {
    margin: auto 1rem; }

.supports-text {
  width: 100%; }
  .supports-text .title {
    text-align: center;
    font-size: 1.5em;
    font-family: "Montserrat-Bold", sans-serif; }
    @media screen and (min-width: 768px) {
      .supports-text .title {
        font-size: 3em; } }
  .supports-text .text {
    margin-top: 0.5rem;
    text-align: center;
    font-size: 1.1em;
    font-family: "Montserrat-Medium", sans-serif;
    color: #747474; }
    @media screen and (min-width: 768px) {
      .supports-text .text {
        font-size: 1.5em; } }
  .supports-text .separator {
    background-color: #eeeeee;
    margin: 2rem auto;
    width: 100px;
    height: 2px; }
  .supports-text .content {
    padding: 1rem 0;
    text-align: center;
    color: #747474; }
    .supports-text .content .pink {
      color: #ff6c6c; }

.web-content .container .web-content-title {
  text-align: center;
  color: #FFFFFF;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 1.5em;
  padding-bottom: 1rem; }
  @media screen and (min-width: 768px) {
    .web-content .container .web-content-title {
      font-size: 2.5em; } }

.web-content .container .web-content-text {
  color: #FFFFFF;
  text-align: center;
  font-size: 0.85em;
  padding: 0.2rem 0; }
  @media screen and (min-width: 768px) {
    .web-content .container .web-content-text {
      font-size: 1em; } }

.web-content .container .web-typewrite {
  color: #FFFFFF;
  text-align: center;
  font-size: 0.85em;
  padding: 0.2rem 0; }
  @media screen and (min-width: 768px) {
    .web-content .container .web-typewrite {
      font-size: 1em; } }

.web-content .container .separator {
  height: 2px;
  background-color: #ff6c6c;
  width: 100px;
  margin: 1.5rem auto; }

.web-content .container .web-content-list {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin: 0 auto;
  justify-content: center;
  padding-bottom: 4rem; }
  @media screen and (min-width: 576px) {
    .web-content .container .web-content-list {
      width: 450px; } }
  @media screen and (min-width: 768px) {
    .web-content .container .web-content-list {
      width: 100%;
      margin: 0; } }
  .web-content .container .web-content-list .web-content-items {
    margin: 0.2rem; }
    .web-content .container .web-content-list .web-content-items-img {
      width: 80px;
      height: 90px;
      border-radius: 20px; }
      @media screen and (min-width: 576px) {
        .web-content .container .web-content-list .web-content-items-img {
          width: 110px;
          height: 120px; } }

.web-content .container .web-content-text-bottom {
  color: #FFFFFF;
  text-align: center;
  font-size: 0.85em;
  padding: 0.2rem 0;
  max-width: 720px;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    .web-content .container .web-content-text-bottom {
      font-size: 1em; } }
  .web-content .container .web-content-text-bottom .pink {
    color: #ff6c6c;
    font-family: "Montserrat-Medium", sans-serif; }


/*# sourceMappingURL=style.css.map*/