.header-laptop-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .header-left {
        display: flex;
        justify-content: center;
        flex: 1;

        .item {
            margin: 0 1.5rem;

            &-link {
                color: $grey;
            }

            &-link:hover {
                color: $pink;
                transition: $duration-fast;
            }
        }
    }

    .header-center {
        display: flex;

        .item {
            margin: 0 1.5rem;

            &-link {

                .logo-image {
                    height: 90px;
                }
            }
        }
    }

    .header-right {
        display: flex;
        justify-content: center;
        flex: 1;

        .item {
            margin: 0 1.5rem;

            &-link {
                color: $grey;
            }

            &-link:hover {
                color: $pink;
                transition: $duration-fast;
            }
        }
    }
}