.menu {
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.menu::after {
    content:'≡';
    font-size: 70px;
}


#menu-button.close{
    color: $pink;
}

#menu-button.close::after{
    content:'×';
    font-size: 70px;
}

