.presentation-text {
    width: 100%;

    &-answer {
        position: relative;
        text-align: center;
        font-size: 1.5em;
        font-family: $font-family-bold;

        @media screen and (min-width: $breakpoint-medium) {
            font-size: $font-size-h2-large;
        }
    }

    &-response {
        margin-top: 0.5rem;
        text-align: center;
        font-size: 1.1em;
        font-family: $font-family-medium;
        color: $grey;

        @media screen and (min-width: $breakpoint-medium) {
            font-size: 1.5em;
        }
    }

    .separator {
        background-color: $light-grey;
        margin: 1rem auto;
        width: 100px;
        height: 2px;
    }
}