.contacts {
    width: 100%; 
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}

#contacts {
    position: relative; 
    top: -99px;
}