.header {
    height: 100px;
    width: 100%;
    background-color: $grey-menu;

    &-mobile {
        height: 100px;
        width: 100%;
        margin: auto 0;

        @media screen and (min-width: $breakpoint-small) {   
            display: flex;  
            justify-content: center;
        }

        @media screen and (min-width: $breakpoint-large) {
            display: none;
        }
        
        .container {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &-laptop {
        display: none; 

        @media screen and (min-width: $breakpoint-large) {
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
        }

        .container {
            margin: 0 auto;
        }
    }
}

.header--is-fixed {
    position: fixed;
    top: 0; 
    z-index: 10;
    width: 100vw;
}
