@charset 'utf-8';

@import 
    'abstracts/vars';

@import 
    '~reset-css/sass/reset';

@import
    'base/base',
    'base/typo';

@import 
    'layout/banner',
    'layout/burger-nav',
    'layout/contacts',
    'layout/fonctionnalities',
    'layout/footer',
    'layout/header',
    'layout/home',
    'layout/loader',
    'layout/main',
    'layout/presentation',
    'layout/services',
    'layout/skills',
    'layout/supports',
    'layout/web';

@import
    'components/banner-text',
    'components/contacts-form',
    'components/contacts-text',
    'components/fonctionnalities-content',
    'components/fonctionnalities-content-list',
    'components/footer-content',
    'components/header-logo-mobile',
    'components/header-laptop-nav',
    'components/header-menu-mobile',
    'components/home-content',
    'components/presentation-items',
    'components/presentation-text',
    'components/services-content-items',
    'components/services-content-text',
    'components/skills-list', 
    'components/skills-text',
    'components/skills-text-writer',
    'components/supports-list',
    'components/supports-text',
    'components/web-content';

@import
    'island/bg',
    'island/logo',
    'island/scene',
    'island/sun',
    'island/description';
    
@import
    'shame';